/* main configuration */
html {
    font-size: 20px;
}

body {
    background-color: rgb(0, 0, 0);
    background-image: url("/src/image/cloud.webp");
    height: 100%;

    /* Center and scale the image nicely */
    background-size: cover;
}

/* invisible gamePlay */
.gamePlay {
    display: none;
    opacity: 100;
}

/* mainMenu design */
.mainTitle {
    text-align: center;
    color: white;
    font-family: sans-serif;
    margin-top: 10%;
    color: white;
}

.buttonClass {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clickButton {
    display: flex;
    padding: 15px;
    gap: 10px;
    background-color: rgb(255, 0, 98);
    border-radius: 10px;
    border: none;
    object-fit: cover;
    width: 100;
    height: 100;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.clickButton:hover {
    background-color: rgb(0, 255, 162);
}

/* gamePlay design */
.gameTitle {
    text-align: center;
    color: white;
    font-family: sans-serif;
    margin-top: 10%;
    color: white;
}

.buttonClass_gamePlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clickButton_gamePlay {
    padding: 10px;
    gap: 10px;
    display: flex;
    padding: 15px;
    gap: 10px;
    background-color: rgb(0, 204, 255);
    border-radius: 10px;
    border: none;
    object-fit: cover;
    width: 100;
    height: 100;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.clickButton_gamePlay:hover {
    background-color: rgb(0, 255, 162);
}